# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=pdfs_db
MONGO_COLLECTION=pdfs

# Redis (caché)
REDIS_URL=redis://localhost:6379/0
REDIS_TTL_SECONDS=300
LOCK_TIMEOUT_SECONDS=5

# App
API_PREFIX=/api/v1
